.u-section-1 {
  min-height: 534px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 1141px;
  height: 427px;
  object-position: 50% 62.01%;
  margin: 104px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -207px 194px 0 144px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    width: 434px;
    height: 289px;
    margin-top: 202px;
    margin-bottom: 202px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 211px;
    margin-right: 67px;
    margin-left: -67px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 166px;
    margin-right: 0;
    margin-left: -113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 352px;
    margin-right: 143px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 198px;
    margin-left: 20px;
    margin-right: 20px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 760px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: rgb(17, 17, 17);
  animation-duration: 1000ms;
  margin: 19px 933px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 15px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 671px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 270px;
  height: 82px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 12px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 671px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 297px;
  height: 64px;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 671px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 61px;
  margin: 13px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 733px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-2 .u-image-1 {
    width: 355px;
    height: 66px;
    margin-right: 55px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 61px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 137px;
    margin-left: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-2 .u-image-2 {
    width: 236px;
    height: 51px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 553px;
  }

  .u-section-2 .u-image-3 {
    height: 48px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 513px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 44px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 81px;
    margin-left: 43px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 163px;
    height: 35px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 34px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 333px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 124px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 98px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 133px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 48px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 76px;
  }

  .u-section-2 .u-image-3 {
    height: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  min-height: 803px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: underline !important;
  animation-duration: 1000ms;
  margin: 0 938px 0 80px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 20px auto 20px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 737px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 520px;
  height: 356px;
  animation-duration: 1000ms;
  margin: -30px -30px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 520px;
  height: 354px;
  animation-duration: 1000ms;
  margin: 13px -30px -30px auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 645px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 98px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 1128px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 429px);
    margin-left: calc(((100% - 940px) / 2)  + 341px);
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2)  + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 608px;
  }

  .u-section-3 .u-image-1 {
    width: 403px;
    height: 276px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 410px;
    height: 275px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-3 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 990px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 329px);
    margin-left: calc(((100% - 720px) / 2)  + 261px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 201px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 200px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    letter-spacing: 0px;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1316px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2)  + 247px);
    margin-left: calc(((100% - 540px) / 2)  + 196px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 101px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1065px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2)  + 156px);
    margin-left: calc(((100% - 340px) / 2)  + 123px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-3 .u-image-3 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 669px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 646px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 98px;
  width: 522px;
  margin: 0 auto 0 -13px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 661px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  height: 297px;
  margin-top: -30px;
  margin-bottom: 0;
  margin-left: 0;
  object-position: 50% 0%;
  animation-duration: 1000ms;
}

.u-section-4 .u-image-3 {
  height: 337px;
  margin-top: 13px;
  margin-bottom: -30px;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-4 .u-image-1 {
    height: 85px;
    width: 451px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-4 .u-image-2 {
    height: 245px;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 62px;
    width: 330px;
  }

  .u-section-4 .u-text-1 {
    letter-spacing: 0px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-4 .u-image-2 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 647px;
  }

  .u-section-4 .u-image-2 {
    height: 313px;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 355px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-image-1 {
    height: 60px;
    width: 320px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-4 .u-image-2 {
    height: 197px;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 224px;
  }
}