.u-section-1 {
  min-height: 455px;
}

.u-section-1 .u-sheet-1 {
  min-height: 428px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-image-1 {
  min-height: 426px;
  background-image: url("images/exp_back.png");
  background-position: 50% 62.01%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    min-height: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 127px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: rgb(17, 17, 17);
  animation-duration: 1000ms;
  margin: 12px 926px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 726px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 126px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 765px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 738px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 275px;
  height: 77px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 21px 2px 0;
}

.u-section-3 .u-text-2 {
  margin: 21px 3px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 303px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-image-3 {
  height: 92px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 9295px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 609px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-1 {
    width: 236px;
    height: 66px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 336px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-2 {
    width: 236px;
    height: 50px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 273px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-image-3 {
    height: 48px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 46px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 81px;
    margin-left: 43px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 163px;
    height: 35px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 34px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 78px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 124px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 98px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 76px;
  }

  .u-section-3 .u-image-3 {
    height: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 64px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: rgb(17, 17, 17);
  animation-duration: 1000ms;
  margin: 12px 892px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 92px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 756px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 768px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 357px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-2 {
  height: 385px;
  animation-duration: 1000ms;
  margin: 12px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 768px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  margin: 0;
}

.u-section-5 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 633px;
  }

  .u-section-5 .u-image-1 {
    height: 294px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 633px;
  }

  .u-section-5 .u-image-3 {
    height: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    letter-spacing: 0px;
    margin-top: 0;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-5 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-5 .u-image-1 {
    height: 213px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 689px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 17px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 669px;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 98px;
  width: 522px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 2px;
}

.u-section-6 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 670px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  height: 297px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  width: 544px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-3 {
  height: 346px;
  animation-duration: 1000ms;
  width: 544px;
  margin: 13px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-6 .u-image-1 {
    height: 79px;
    width: 419px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-6 .u-image-2 {
    height: 244px;
    width: 447px;
  }

  .u-section-6 .u-image-3 {
    height: 284px;
    width: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 58px;
    width: 305px;
  }

  .u-section-6 .u-text-1 {
    letter-spacing: 0px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-6 .u-image-2 {
    height: 186px;
    width: 341px;
  }

  .u-section-6 .u-image-3 {
    height: 217px;
    width: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 656px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-6 .u-image-2 {
    height: 185px;
    width: 340px;
  }

  .u-section-6 .u-image-3 {
    height: 216px;
    width: 340px;
  }
}