.u-section-1 {
  min-height: 534px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 1141px;
  height: 427px;
  object-position: 50% 62.01%;
  margin: 104px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -207px 194px 0 144px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    width: 434px;
    height: 289px;
    margin-top: 202px;
    margin-bottom: 202px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 211px;
    margin-right: 67px;
    margin-left: -67px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 166px;
    margin-right: 0;
    margin-left: -113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 352px;
    margin-right: 143px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 198px;
    margin-left: 20px;
    margin-right: 20px;
    width: 340px;
  }
}.u-section-2 {
  min-height: 710px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  min-height: 450px;
  width: 381px;
  background-image: url("images/pexels-photo-5894501.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 717px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 87px 234px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 245px;
  height: 245px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 {
  min-height: 683px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 683px;
  background-image: url("images/pexels-photo-3395798.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 683px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 7px 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline !important;
  margin: 32px 259px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 563px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 563px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-3 .u-text-2 {
    width: 208px;
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 487px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 431px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    letter-spacing: 0px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1008px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 647px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 761px;
  }

  .u-section-3 .u-image-1 {
    min-height: 407px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}.u-section-4 {
  min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  min-height: 450px;
  width: 381px;
  background-image: url("images/pexels-photo-4635230.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 710px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 182px 234px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 881px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 630px;
  margin: 55px auto 0;
}

.u-section-5 .u-list-1 {
  min-height: 521px;
  grid-template-columns: repeat(2, calc(((100% - 1140px) / 2) + 555px));
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  grid-gap: 30px;
  margin: 50px 0 60px;
}

.u-section-5 .u-list-item-1 {
  background-size: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-5 .u-image-1 {
  height: 472px;
  object-position: 50% 81.32%;
  margin: -30px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 42px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-5 .u-image-2 {
  height: 472px;
  margin: -30px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 42px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-list-1 {
    min-height: 430px;
    grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 455px));
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    height: 389px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 389px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 596px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 596px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    height: 447px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 447px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  min-height: 798px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -68px;
}

.u-section-6 .u-image-1 {
  min-height: 399px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 399px;
  background-image: url("images/3piececeramicdinnerwareset_580x.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 399px;
  background-image: url("images/gbf.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 399px;
  background-image: url("images/5cc9d211057959.560f093dd9160.jpg");
  background-position: 68.88% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 399px;
  background-image: url("images/478579017_w0_h0_mebel_iz_fanery.jpg");
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  min-height: 399px;
  background-image: url("images/Untitled4.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 658px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 329px;
  }

  .u-section-6 .u-image-2 {
    min-height: 329px;
  }

  .u-section-6 .u-image-3 {
    min-height: 329px;
  }

  .u-section-6 .u-image-4 {
    min-height: 329px;
  }

  .u-section-6 .u-image-5 {
    min-height: 329px;
  }

  .u-section-6 .u-image-6 {
    min-height: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 502px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -2px;
    margin-bottom: -223px;
  }

  .u-section-6 .u-image-1 {
    min-height: 252px;
  }

  .u-section-6 .u-image-2 {
    min-height: 252px;
  }

  .u-section-6 .u-image-3 {
    min-height: 252px;
  }

  .u-section-6 .u-image-4 {
    min-height: 252px;
  }

  .u-section-6 .u-image-5 {
    min-height: 252px;
  }

  .u-section-6 .u-image-6 {
    min-height: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 3175px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 530px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 529px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 530px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 530px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 529px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    min-height: 530px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 343px;
  }

  .u-section-6 .u-image-1 {
    min-height: 333px;
  }

  .u-section-6 .u-image-2 {
    min-height: 333px;
  }

  .u-section-6 .u-image-3 {
    min-height: 333px;
  }

  .u-section-6 .u-image-4 {
    min-height: 333px;
  }

  .u-section-6 .u-image-5 {
    min-height: 333px;
  }

  .u-section-6 .u-image-6 {
    min-height: 333px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 760px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 305px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-7 .u-image-2 {
  min-height: 640px;
  background-image: url("images/pexels-photo-4210854.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 4px;
  margin: 234px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 39px;
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-7 .u-image-1 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    min-height: 528px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 32px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    min-height: 404px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 494px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-image-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    min-height: 294px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 71px;
  }
}