.art-card-image{
    width:100%;
    object-fit:cover;
    max-height:275px;
    max-width:100%;
}

.card-image{
    width:100%;
    object-fit:cover;
    max-height:300px;
    max-width:100%;
}

.volunteer-card-image{
    width:100%;
    object-fit:cover;
    max-height:250px;
    max-width:100%;
}